body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230vh;
    background-color: #f9f9f9;
}

.container {
    background-color: #fff;
    max-width: 1000px;
    padding: 30px;
    position: -webkit-sticky;
    margin-top: -400px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    color: black;
    margin-top: 35px;
}

.section-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

.form-group label {
    width: 150px;
    font-size: 14px;
    margin-right: 20px;
}

.form-group input
{
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    margin-right: 80px;
}
.form-group select {
    flex: 1; /* Membuat input dan select mengisi sisa ruang */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    margin-right: 700px;
}

.form-group input.short {
    width: 80px; /* Lebar input pendek */
    margin: auto;
}

.submit-btn {
    background-color: #4a6b4f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 885px;
    margin-bottom: 10px;
}

.insert-btn {
    background-color: #4d7dc4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 800px;
    margin-bottom: 30px;
    width: 120px;
}
.submit-btn:hover {
    background-color: #3b4a3b;
}
