body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 30px;
    font-size: 10px;
}

.table-container {
    max-width: 800px;
    margin: auto;
    margin-top: -745px;
    margin-left: 350px;
    margin-right: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    z-index: 10; 
}

.table-scroll {
    max-height: 400px; /* Atur tinggi maksimum untuk area scroll */
    overflow-y: auto; /* Mengaktifkan scroll vertikal */
    margin-top: 20px; /* Jarak antara judul dan tabel */
}

table {
    width: 100%;
    border-collapse: collapse;
}

h2 {
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 25px;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;

}

th, td {
    text-align: left;
    padding: 15px;
    font-size: 16px;
}

th {
    background-color: #4a6b4f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

tr {
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9ecef;
}

td {
    border-bottom: 1px solid #ddd;
}

.icon a {
    color: #3f4640;
    text-decoration: none;
    margin-right: 10px;
}

.icon a:hover {
    color: #4a6b4f;
}

.action-icons {
    display: flex;
    gap: 10px;
}

.action-icons i {
    cursor: pointer;
    color: #393e3a;
    transition: color 0.3s;
}

.action-icons i:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    th, td {
        padding: 10px;
    }
}
